<div class="surface-card p-4 mt-4 shadow-2 border-round">
  <div class="grid formgrid p-fluid">

    <div class="field mb-4 col-12">
      <label class="font-medium pt-2" for="camp">Camp</label>
      <p-dropdown id="camp"
                  *ngIf="!campSelected"
                  [required]="true"
                  placeholder="Wähle ein Camp" [options]="camps"
                  [(ngModel)]="eventData.event"
                  optionLabel="name">
        <ng-template let-camp pTemplate="item">
          <div class="camp-item">
            <div>{{camp.name}} ({{camp.startDate | date:'dd/MM/yyyy'}} - {{camp.endDate | date:'dd/MM/yyyy'}})</div>
          </div>
        </ng-template>
        <ng-template pTemplate="selectedItem">
          <div class="camp-item">
            <div>{{eventData.event.name}} ({{eventData.event.startDate | date:'dd/MM/yyyy'}} - {{eventData.event.endDate | date:'dd/MM/yyyy'}})</div>
          </div>
        </ng-template>
      </p-dropdown>
      <div *ngIf="!eventData.event.id && isSubmitted" class="alert">
        <small class="p-error">Bitte wähle ein Camp aus!</small>
      </div>

      <div *ngIf="campSelected" class="text-2xl">
        {{eventData.event.name}} ({{eventData.event.startDate | date:'dd/MM/yyyy'}} - {{eventData.event.endDate | date:'dd/MM/yyyy'}})
      </div>
    </div>

    <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>

    <div class="field mb-4 col-12">
      <label class="font-medium" for="firstname">Vorname</label>
      <div>
        <input #firstName="ngModel" id="firstname" pinputtext="" type="text" required class="p-inputtext p-component"
               [ngClass]="{'ng-dirty': (firstName.invalid && isSubmitted) || (firstName.dirty && firstName.invalid)}"
               [(ngModel)]="personalData.firstName">
        <small *ngIf="(firstName.invalid && isSubmitted) || (firstName.dirty && firstName.invalid)" class="p-error">
          Bitte fülle deinen Vornamen aus!
        </small>
      </div>

      <label class="font-medium pt-2" for="lastname">Nachname</label>
      <input #lastName="ngModel" id="lastname" pinputtext="" type="text" required class="p-inputtext p-component"
             [ngClass]="{'ng-dirty': (lastName.invalid && isSubmitted) || (lastName.dirty && lastName.invalid)}"
             [(ngModel)]="personalData.lastName">
      <small *ngIf="(lastName.invalid && isSubmitted) || (lastName.dirty && lastName.invalid)" class="p-error">
        Bitte fülle deinen Nachname aus!
      </small>
    </div>

    <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>

    <div class="field mb-4 col-12 md:col-6">
      <label class="font-medium" for="email">Email</label>
      <input #email="ngModel" id="email" pinputtext="" type="text" required email class="p-inputtext p-component"
             [ngClass]="{'ng-dirty': (email.invalid && isSubmitted) || (email.dirty && email.invalid)}"
             [(ngModel)]="personalData.email">
      <small *ngIf="email.invalid && isSubmitted" class="p-error">
        Bitte verwende eine valide E-Mail!
      </small>
    </div>

    <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>

    <div class="field mb-4 col-12 md:col-6">
      <label class="font-medium" for="bio">Bio</label>
      <textarea id="bio" pinputtextarea="" rows="5" type="text"
                class="p-inputtextarea p-inputtext p-component p-inputtextarea-resizable"
                style="height: 106px; overflow: hidden;"
                [(ngModel)]="personalData.comment"></textarea>

      <div class="flex align-items-center">
        <p-inputSwitch [(ngModel)]="personalData.previousParticipant">
          <div class="p-inputswitch p-component">
            <div class="p-hidden-accessible">
              <input role="switch" type="checkbox" aria-checked="false">
            </div>
            <span class="p-inputswitch-slider"></span>
          </div>
        </p-inputSwitch>
        <span class="ml-2">Ich habe bereits in der Vergangenheit bei einem Camp teilgenommen.</span>
      </div>
    </div>

    <div class="surface-border border-top-1 opacity-50 mb-3 col-12"></div>

    <div class="col-12 flex justify-content-end">
      <button pButton pRipple type="button" label="Weiter" icon="pi pi-angle-right" iconPos="right"
              class="p-button-rounded w-auto mt-3" (click)="nextPage()"></button>
    </div>
  </div>
</div>
