<header>
  <div class="p-grid">
    <div class="p-col-3 logo">
      <a routerLink="/">
        <img src="assets/logo.png" alt="logo" /><br />
        Schnetzer / Petutschnig
      </a>
    </div>

    <div class="p-col-8 p-offset-1 navigation">
      <flpu-nav></flpu-nav>
    </div>

<!--    <div class="p-col-1 actions">-->
<!--      <button pButton pRipple type="button" icon="pi pi-sign-out" class="p-button-rounded p-button-secondary p-button-text"></button>-->
<!--    </div>-->
  </div>
</header>
