<p-card *ngIf="eventData.event.name" [header]="'Anmeldung \'' + eventData.event.name + '\''">
  <div class="p-fluid event-checkout-personal-data">
    <div class="p-field">
      <span class="p-float-label">
        <input #firstName="ngModel" id="firstName" type="text" required pInputText
               [(ngModel)]="personalData.firstName"
               [ngClass]="{'ng-dirty': (firstName.invalid && isSubmitted) || (firstName.dirty && firstName.invalid)}">
        <label for="firstName">Vorname</label>
        <small *ngIf="(firstName.invalid && isSubmitted) || (firstName.dirty && firstName.invalid)" class="p-error">Vorname ist verpflichtend</small>
      </span>
    </div>

    <div class="p-field">
      <span class="p-float-label">
        <input #lastName="ngModel" id="lastName" type="text" required pInputText
               [(ngModel)]="personalData.lastName"
               [ngClass]="{'ng-dirty': (lastName.invalid && isSubmitted) || (lastName.dirty && lastName.invalid)}">
        <label for="lastName">Nachname</label>
        <small *ngIf="(lastName.invalid && isSubmitted) || (lastName.dirty && lastName.invalid)" class="p-error">Nachname ist verpflichtend</small>
      </span>
    </div>

    <div class="p-field">
      <span class="p-float-label">
        <input #email="ngModel" id="email" type="text" required pInputText pKeyFilter="email"
               [(ngModel)]="personalData.email"
               [ngClass]="{'ng-dirty': (email.invalid && isSubmitted) || (email.dirty && email.invalid)}">
        <label for="email">E-Mail</label>
        <small *ngIf="(email.invalid && isSubmitted) || (email.dirty && email.invalid)" class="p-error">E-Mail ist verpflichtend</small>
<!--        <small *ngIf="email.dirty && email.invalid" class="p-error">E-Mail ist nicht valide.</small>-->
<!--          <p-message severity="error" text="Not a valid email" [@errorState]="email.dirty ? 'visible' : 'hidden'"></p-message>-->
      </span>
    </div>

    <div class="p-field">
      <span class="p-float-label">
        <textarea #comment="ngModel" id="comment" pInputTextarea
                  [(ngModel)]="personalData.comment"
                  [ngClass]="{'ng-dirty': (comment.invalid && isSubmitted) || (comment.dirty && comment.invalid)}"
                  [autoResize]="true" rows="5"
                  cols="30"></textarea>
        <label for="comment">Anmerkungen</label>
      </span>
    </div>
  </div>

  <div class="p-grid p-nogutter p-justify-end">
    <button pButton pRipple type="button" label="Weiter" icon="pi pi-angle-right" iconPos="right"
            class="p-button-rounded" (click)="nextPage()"></button>
  </div>
</p-card>
