<div class="surface-section px-4 py-8 md:px-6 lg:px-8 ng-star-inserted">
  <div class="surface-section">
    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="p-fluid formgrid grid px-4 py-8 md:px-6 lg:px-8">
          <div class="field col-12 mb-4">
            <input class="py-3 px-2 text-lg p-inputtext p-component" id="name"
                   pinputtext="" placeholder="Name" type="text">
          </div>
          <div class="field col-12 mb-4">
            <input class="py-3 px-2 text-lg p-inputtext p-component" id="email"
                   pinputtext="" placeholder="E-Mail" type="text">
          </div>
          <div class="field col-12 mb-4">
            <input class="py-3 px-2 text-lg p-inputtext p-component" id="phone"
                   pinputtext="" placeholder="Telefon" type="text">
          </div>
          <div class="field col-12 mb-4">
            <textarea class="py-3 px-2 text-lg p-inputtextarea p-inputtext p-component p-inputtextarea-resizable" id="message"
            pinputtextarea="" placeholder="Nachricht" rows="5" style="height: 150px; overflow: hidden;"></textarea></div>
          <div class="col-12 text-right">
            <button class="px-5 py-3 w-auto p-ripple p-button p-component" icon="pi pi-envelope" label="Submit"
                    pbutton="" pripple="" type="button">
              <span class="p-button-icon p-button-icon-left pi pi-envelope" aria-hidden="true"></span>
              <span class="p-button-label">Senden</span>
              <span class="p-ink"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-6 bg-no-repeat bg-right-bottom"
           style="background-image: url('assets/contact.png')">
        <div class="text-900 text-2xl font-medium mb-6">Kontaktiert uns</div>
        <div class="text-700 line-height-3 mb-6">
          Gerne beantworten wir eure Fragen ganz individuell und zuverlässig.
        </div>
<!--        <a class="inline-flex align-items-center text-blue-600 font-bold no-underline cursor-pointer">-->
<!--          <span class="mr-3">View Address on Google Maps</span>-->
<!--          <i class="pi pi-arrow-right"></i>-->
<!--        </a>-->
        <ul class="list-none p-0 m-0 mt-6 text-700">
          <li class="flex align-items-center mb-3">
            <i class="pi pi-phone mr-2"></i>
            <span>+43 123 456 789</span>
          </li>
          <li class="flex align-items-center mb-3">
            <i class="pi pi-twitter mr-2"></i>
            <span>@bvbflolo</span>
          </li>
          <li class="flex align-items-center">
            <i class="pi pi-inbox mr-2"></i>
            <span>mail@gmail.com</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
