.sidebar {
  .links {
    .link-name {
      display: none;
    }

    @media screen and (min-width: 800px) {
      .link-name {
        clear: both;
        display: inline-block;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: block;
        list-style: none;
        width: 100%;

        a {
          color: var(--text-color);
          padding: 20px 15px;
          display: block;
          text-decoration: none;
          width: 100%;

          &:hover {
            background-color: var(--blue-700);
          }

          i {
            margin-right: 8px;
            margin-top: 0;
            float: left;
          }
        }
      }
    }
  }
}
