<!--<flpu-events-list></flpu-events-list>-->
<div class="flpu-home">

  <div class="bg-white p-4">
    <span style="font-size: 50px; text-align: center;">Flo & Lo @ the Beach</span>
  </div>

  <img alt="Image" class="block mx-auto w-full" src="assets/social/DSC03425.jpg">

  <div class="grid bg-bluegray-50">

    <div class="col-4 lg:col-4">
      <a class="cursor-pointer no-underline text-gray-900" routerLink="3-seen-tour">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column" style="border-radius: 6px">
          <div class="font-bold text-xl md:text-5xl mb-2">Silberpfeil</div>
          <div class="fond-medium text-l md:text-3xl">3-Seen-Tour</div>
          <div class="mt-2">
            <img alt="Card" src="assets/landing-page/pages/3_seen.jpg" style="max-width: 100%">

          </div>
        </div>
      </div>
      </a>
    </div>

    <div class="col-4 lg:col-4">
      <a class="cursor-pointer no-underline text-gray-900" routerLink="beachcamps">
        <div class="p-3 h-full">
          <div class="shadow-2 p-3 h-full flex flex-column" style="border-radius: 6px">
            <div class="font-bold text-xl md:text-5xl mb-2">Ateia</div>
            <div class="fond-medium text-l md:text-3xl">Beachcamps</div>
            <div class="mt-2">
              <img alt="Card" src="assets/landing-page/pages/camps.jpeg" style="max-width: 100%">

            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-4 lg:col-4">
      <a class="cursor-pointer no-underline text-gray-900" routerLink="beachteam">
        <div class="p-3 h-full">
          <div class="shadow-2 p-3 h-full flex flex-column" style="border-radius: 6px">
            <div class="font-bold text-xl md:text-5xl mb-2">Naturtalente</div>
            <div class="fond-medium text-l md:text-3xl">Beachteam</div>
            <div class="mt-2">
              <img alt="Card" src="assets/landing-page/pages/team.jpeg" style="max-width: 100%">

            </div>
          </div>
        </div>
      </a>
    </div>

  </div>

</div>
