<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">3 Seen, 3 Events</span>
      <div class="text-6xl text-primary font-bold mb-3">Beachvolleyball an den schönsten Seen Österreichs</div>
      <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <button pButton pRipple label="Anmelden" type="button" class="p-button-raised"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <!--    <img alt="Image" class="md:ml-auto block md:h-full" src="/assets/events/3_seen_tour/3SeenDrohnen.jpg" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">-->
<!--    <img alt="Image" class="md:ml-auto block md:h-full" src="assets/events/3_seen_tour/3SeenDrohnen.jpg" style="width:100%">-->
    <img alt="Image" class="md:ml-auto block md:h-full" src="assets/social/DSC03425.jpg" style="width:100%">
  </div>
</div>

<div class="surface-section bg-gray-100 py-8 text-center">
  <div class="mb-3 font-bold text-2xl">
    <span class="text-900">Beachvolleyball, </span>
    <span class="text-blue-600">And Friends</span>
  </div>
  <div class="text-700 text-sm mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="bg-white p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-eye text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 mb-3 font-medium">Individueller Fokus</div>
      <span class="text-700 text-sm line-height-3">Pro Gruppe gibt es max. 8 Teilnehmer.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="bg-white p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-globe text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 mb-3 font-medium">Professionelle Trainer</div>
      <span class="text-700 text-sm line-height-3">Lenrt von den Profis. Unser Trainerteam besteht aus aktiven Spielern auf nationaler und internationaler Tour.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="bg-white p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 mb-3 font-medium">Unkompliziert</div>
      <span class="text-700 text-sm line-height-3">Wir legen Wert auf die einfachste Abwicklung und optimale Lösungen für alle.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="bg-white p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-users text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 mb-3 font-medium">Beach with Friends</div>
      <span class="text-700 text-sm line-height-3">Freundliches Miteinander und diverse Side-Aktivitäten sind bei uns immer zu finden.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
            <span class="bg-white p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-euro text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 mb-3 font-medium">Preis/Leistung</div>
      <span class="text-700 text-sm line-height-3">Bestes Training zu einem fairen Preis.</span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="bg-white p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-replay text-4xl text-blue-500"></i>
            </span>
      <div class="text-900 mb-3 font-medium">Keine Langeweile</div>
      <span class="text-700 text-sm line-height-3">Jede Trainigseinheit bietet individuelle Schwerpunkte, sodass man immer ein Stück besser werden kann.</span>
    </div>
  </div>
</div>

<div class="surface-section bg-white py-8 text-center">
  <!--  <h5>Camps</h5>-->
  <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
            <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.status" [subheader]="event.date">
        <img *ngIf="event.image" [src]="event.image" [alt]="event.name" width="200" class="p-shadow-2" />
        <!--        <img [src]="'assets/events/3_seen_tour/Mondsee_Drohne_001-1.jpg'" [alt]="event.name" width="200" class="p-shadow-2" />-->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        <button pButton label="Read more" class="p-button-text"></button>
      </p-card>
    </ng-template>
  </p-timeline>
</div>

<div class="surface-section bg-white shadow-2 py-0 align-items-center">
  <p-galleria [value]="images" [containerStyle]="{'max-width': '100%', 'text-align': 'center'}"
              [autoPlay]="true" [transitionInterval]="5000"
              [circular]="true" [showItemNavigators]="true" [showThumbnails]="false"
              [showIndicators]="true" [showItemNavigatorsOnHover]="true" [showIndicatorsOnItem]="true">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.previewImageSrc" style="width: 100%; display: block;" [alt]="item.alt" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid nogutter justify-items-center">
        <img [src]="item.thumbnailImageSrc" style="max-width: 50%; display: block;" />
      </div>
    </ng-template>
  </p-galleria>
</div>


<!--<div class="bg-gray-100 px-4 py-8 md:px-6 lg:px-8">-->
<!--  <div class="text-center font-bold text-900 text-5xl mb-3">Das Trainerteam</div>-->
<!--  <div class="text-center text-xl line-height-3 text-600 mb-6">-->
<!--    Unser Trainerteam besteht aus aktiven Profis auf nationaler und internationaler Bühne.-->
<!--  </div>-->

<!--  <div class="grid justify-content-center">-->

<!--    <div class="col-12 md:col-3 text-center mt-5 mb-5 lg:mb-0 mr-0 lg:mr-5 shadow-2 surface-card">-->
<!--      <img class="mb-3" src="assets/social/Lo_small.png">-->
<!--      <div class="text-xl text-900 font-medium mb-3">Lorenz Petutschnig</div>-->
<!--      <div class="inline-flex align-items-center">-->
<!--        <a class="mr-3 text-600 cursor-pointer">-->
<!--          <i class="pi pi-twitter text-xl"></i>-->
<!--        </a>-->
<!--        <a class="mr-3 text-600 cursor-pointer">-->
<!--          <i class="pi pi-github text-xl"></i>-->
<!--        </a>-->
<!--        <a class="text-600 cursor-pointer">-->
<!--          <i class="pi pi-facebook text-xl"></i>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-3 text-center mt-5 mb-5 lg:mb-0 mr-0 lg:mr-5 shadow-2 surface-card">-->
<!--      <img class="mb-3" src="assets/social/Flo_small.png">-->
<!--      <div class="text-xl text-900 font-medium mb-3">Florian Schnetzer</div>-->
<!--      <div class="inline-flex align-items-center">-->
<!--        <a class="mr-3 text-600 cursor-pointer">-->
<!--          <i class="pi pi-twitter text-xl"></i>-->
<!--        </a>-->
<!--        <a class="mr-3 text-600 cursor-pointer">-->
<!--          <i class="pi pi-github text-xl"></i>-->
<!--        </a>-->
<!--        <a class="text-600 cursor-pointer">-->
<!--          <i class="pi pi-facebook text-xl"></i>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-3 text-center mt-5 mb-5 lg:mb-0 mr-0 lg:mr-5 shadow-2 surface-card">-->
<!--      <img class="mb-3" src="assets/social/Kathi_small.png">-->
<!--      <div class="text-xl text-900 font-medium mb-3">Katharina Schützenhöfer</div>-->
<!--      <div class="inline-flex align-items-center">-->
<!--        <a class="mr-3 text-600 cursor-pointer">-->
<!--          <i class="pi pi-twitter text-xl"></i>-->
<!--        </a>-->
<!--        <a class="mr-3 text-600 cursor-pointer">-->
<!--          <i class="pi pi-github text-xl"></i>-->
<!--        </a>-->
<!--        <a class="text-600 cursor-pointer">-->
<!--          <i class="pi pi-facebook text-xl"></i>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-12 md:col-3 text-center mt-5 mb-5 lg:mb-0 mr-0 lg:mr-5 shadow-2 surface-card">-->
<!--      <img class="mb-3" src="assets/social/Lena_small.png">-->
<!--      <div class="text-xl text-900 font-medium mb-3">Lena Plesiutschnig</div>-->
<!--      <div class="inline-flex align-items-center">-->
<!--        <a class="mr-3 text-600 cursor-pointer">-->
<!--          <i class="pi pi-twitter text-xl"></i>-->
<!--        </a>-->
<!--        <a class="mr-3 text-600 cursor-pointer">-->
<!--          <i class="pi pi-github text-xl"></i>-->
<!--        </a>-->
<!--        <a class="text-600 cursor-pointer">-->
<!--          <i class="pi pi-facebook text-xl"></i>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
