<div class="sidebar">
  <div class="links">
    <ul>
<!--      <li>-->
<!--        <a routerLink="dashboard">-->
<!--          <i class="pi pi-home"></i>-->
<!--          <span class="link-name">Dashboard</span>-->
<!--        </a>-->
<!--      </li>-->

      <li>
        <a routerLink="camps">
          <i class="pi pi-sun"></i>
          <span class="link-name">Camps</span>
        </a>
      </li>

      <li>
        <a routerLink="sponsors">
          <i class="pi pi-dollar"></i>
          <span class="link-name">Sponsors</span>
        </a>
      </li>

      <li>
        <a>
          <i class="pi pi-sign-out"></i>
          <span class="link-name">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
